{% extends "base.html" %}


{% block content %}

<h3>Add a New Post</h3>

<form method="post">
            <label>
                <div>title</div>
                <input type="text" name="title" value="{{title}}">
            </label>
        <form method="post">
            <label>
                <div>content</div>
                <textarea name="content">{{content}}</textarea>
            </label>
            <br>
            <input type="submit">   
            <div class="error">{{error}}</div>
            
            
            
        </form>
        
{% endblock %}
      